<html>

<head></head>

<body>
    title: <input id="post-title"> body: <input id="post-body">
    <button onclick="newPost()">new post!</button><br> 
    <ol>
    {%for i in range(0, len)%}
        <li value="{{i}}"><a href='./posts/{{i}}'>{{posts[i].title}}</a></li>
    {% endfor %}
    </ol>
    <script>
        const postFormIds = ['post-title', 'post-body']

        function newPost() {
            fetch('/posts', {
                body: JSON.stringify({
                    'title': document.getElementById('post-title').value,
                    'body': document.getElementById('post-body').value
                }),
                headers: {
                    'content-type': 'application/json'
                },
                method: 'POST',
            }).then(res => res.text()).then(text => location.reload())
        }
    </script>

</body>

</html>